{% extends 'base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/css/styles.css" />
{% endblock %}
{% block title %}Add A New Cafe{% endblock %}

{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>
          {{ render_form(form) }}
      <!-- This is where your WTForm will go -->

	  <p class="space-above"><a href="{{ url_for('get_all_posts') }}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
